/* react-calendar 기본 css스타일 오버라이딩 */

.react-calendar {
  width: 100%;
  background-color: theme('colors.gray.0');
  border: none;
}

.react-calendar__tile {
  display: flex;
  height: 90px;
  padding-top: 15px;
  justify-content: center;
  font-size: 24px;
}

.react-calendar__tile--now {
  background-color: theme('colors.gray.20') !important;
}

.react-calendar__tile:enabled:focus {
  background-color: theme('colors.primary.50');
  color: theme('colors.gray.0');
}

.react-calendar__tile:enabled:hover {
  background-color: theme('colors.primary.0');
  color: theme('colors.gray.0');
}

.react-calendar__tile--active {
  background-color: theme('colors.primary.50');
  color: theme('colors.gray.0');
}

.react-calendar__tile:disabled {
  background-color: transparent;
  color: theme('colors.gray.10');
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-size: 1.5rem;
}

.react-calendar__navigation__label {
  flex-grow: 0 !important;
  font-size: 28px;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__arrow:focus,
.react-calendar__navigation__arrow:hover {
  background-color: transparent !important;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__month-view__weekdays {
  font-size: 24px;
  font-weight: 400;
  color: theme(colors.gray.60);
}

.react-calendar__month-view__weekdays__weekday {
  padding-bottom: 0;
  margin-bottom: 24px;
}

/* 브레이크포인트 적용 */
@media (max-width: 1499px) {
  .react-calendar__tile {
    height: 90px;
    padding-top: 10px;
    font-size: 24px;
  }
}

@media (max-width: 834px) {
  .react-calendar__tile {
    height: 60px;
    font-size: 14px;
  }
  .react-calendar__month-view__weekdays__weekday {
    font-size: 24px;
  }
  .react-calendar__navigation__label {
    font-size: 20px;
  }
}
